@media(min-width:320px){
	.footer-col1, .footer-col2, .footer-col3, .footer-col4{
	color:#fff;
	width:100%;
	}
	#footer{
	height:150vh;
	}
}
@media(min-width:780px){
	.footer-col1, .footer-col2, .footer-col3, .footer-col4{
	color:#fff;
	width:50%;
	}
	#footer{
	height:100vh;
	}
}
@media(min-width:1000px){
	.footer-col1, .footer-col2, .footer-col3, .footer-col4{
	color:#fff;
	width:25%;
	}
	#footer{
	height:40vh;
	}
}
