*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#footer{
	/* height:40vh; */
	background-color:#000;
	padding:10px;
}
#footer-2{
	padding:10px;
	background-color:#000;
	color:#fff;
}
.foot2-content{
	text-align:center;
	padding:10px 0;
	font-family: 'Open Sans', sans-serif;
}
.foot2-content span{
	color:#e3a90b;
}
.container{
	width:85%;
	margin:auto;
}
.footer-row{
	display:flex;
	flex-wrap:wrap;
}
/* .footer-col1, .footer-col2, .footer-col3, .footer-col4{ */
	/* color:#fff; */
	/* width:25%; */
/* } */
.col1-logo h1{
	font-family: 'Raleway', sans-serif;
	font-size:30px;
}
.col1-logo span{
	
	color:#e3a90b;
}
.col1-para, .col1-contact{
	font-family: 'Raleway', sans-serif;
	padding:10px 0;
}
.icons{
	padding:30px 0px;
}
.col1-icon{
	display:inline-block;
	width:3rem;
	border:2px none #e3a90b;
	    background: #292929;
	border-radius:3px;
	padding:10px ;
	text-align:center;
}
.col1-icon:hover{
	background-color:#e3a90b;
	color:#000;
}

.footer-col2-content li, .footer-col3-content li{
	list-style-type:none;
	    padding: 10px 0;
		font-family: 'Open Sans', sans-serif;
}
.footer-col2-content a, .footer-col3-content a{
	text-decoration:none;
	color:#fff;
	padding-left:10px;
	font-family: 'Open Sans', sans-serif;
}
.footer-col2-content a:hover, .footer-col3-content a:hover{
	color:#ecbe24;
}
.fa-angle-right:before {
	    color: #ecbe24;
}
h4{
	font-family: 'Raleway', sans-serif;
	padding:15px 0;
}
.col4-head{
	font-size:17px;
}
.col4-content{
	font-size:11px;
	font-family: 'Open Sans', sans-serif;
	padding:30px 0;
}
.col4-btn button{
	padding:10px;
	background-color:#ecbe24;
	border:none;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	position:absolute;
	
}
.col4-btn button:hover{
	background-color:#f0d066;
}
.col4-btn input{
	padding:10px;
	border:none;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	width:80%;
	position:relative;
}
.foot2-content{
	padding-top:5rem ;
}
